@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;800&display=swap');

@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
    }
}

body {
    @apply text-black dark:text-white bg-gradient-white dark:bg-static-black
}


.fp-watermark {
    display: none;
}

.fullpage-wrapper {
    width: 100%;
}

#fp-nav ul li a span{
    @apply bg-black dark:bg-white;
}