@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;800&display=swap');

@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
    }
}

@layer components {
    .bg-gradient-white {
        background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)), rgb(214, 219, 220);
    }
    .bg-gradient-black {
        background: linear-gradient(to bottom, transparent, rgb(40, 40, 40)), rgb(0, 0, 0);
    }
}

body {
    @apply text-black dark:text-white bg-gradient-white dark:bg-gradient-black
}


.fp-watermark {
    display: none;
}

.fullpage-wrapper {
    width: 100%;
}

#fp-nav ul li a span{
    @apply bg-black dark:bg-white;
}